<!DOCTYPE html>
<html>
<title>Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
    <%- include('partials/nav'); %>
  <h1><b>Contact</b></h1>
  <p>Welcome to the blog </p>
</header>

<!--Form-->
<div class="container">
  <form action="/contact" method="POST">
    <label for="fname">Name</label>
    <input type="text" name =  'name' value="<%= qs.name %>">

    <label for="lname">Department</label>
    <input type="text" name = 'dept' value="<%= qs.dept %>">

    <label for="lname">email</label>
    <input type="text"  name = 'email' value="<%= qs.email %>">

    <input type="submit" value="Submit">
  </form>
</div>


</div>
</body>
</html>